<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block style %} {% endblock %}
</head>
<body>
    <header> 
        <nav> <ul> 
                <li><a href="/">Новости</a></li> 
                <li><a href="/community">Сообщество</a></li> 
                <li><a href="/contact_us">Контакты</a></li>
                <li><a href="/about_us">О нас</a></li> 
                <li><a href="/profile">Профиль</a></li>
        </ul> </nav>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</body>
</html>