{% extends "community_base.html" %}
{% block title %} Сообщество {{community.unique_name}} {% endblock %}
{% block cmstyle %} 
<style>

</style>
{% endblock %}
{% block container %}
<form action="{{url_for('community_create_page')}}" method="post">
    <div>
        <label for="com_unique_name">Уникальное имя</label>
        <input type="text" name="com_unique_name" value="{{community.unique_name}}" disabled>
    </div>
    <div>
        <label for="com_name">Отображаемое имя</label>
        <input type="text" name="com_name" value="{{community.com_name}}" placeholder="Не указано" minlength="4" maxlength="32" required>
    </div>
    <div>
        <label for="com_desc">Описание сообщества</label>
        <textarea type="textarea" name="com_desc" placeholder="Не указано" rows="4" maxlength="256">{{community.com_description}}</textarea>
    </div>
    <div>
        <label for="date_creation">Дата создания</label>
        <input type="date" name="date_creation" value="{{community.date_creation}}" placeholder="Не указано" disabled>
    </div>
    <input type="submit" value="Сохранить">
</form>
{% endblock %}