{% extends "base.html" %}
{% block title %} Обратная связь {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/input_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/text_area_style.css')}}">
<style>

</style>
{% endblock %}
{% block content %} 
<form>
    <div>
        <label for="tg">Телеграм</label>
        <input type="text" name="tg" value="@dev777" disabled>
    </div>
    <div>
        <label for="vk">ВК</label>
        <input type="text" name="vk" value="vk.com/dev_7772134" disabled>
    </div>
    <div>
        <label for="dev_e_mail">Электронная почта разработчика</label>
        <input type="email" name="dev_e_mail" value="dev777_2134@mail.ru" disabled>
    </div>
    <div>
        <label for="dev_phone">Номер телефона разработчика</label>
        <input type="tel" name="dev_phone" value="+7-888-777-21-34" disabled>
    </div>
    <div>
        <label for="admin_e_mail">Электронная почта администратора</label>
        <input type="email" name="admin_e_mail" value="adm999_2134@mail.ru" disabled>
    </div>
    <div>
        <label for="admin_phone">Номер телефона аминистратора</label>
        <input type="tel" name="admin_phone" value="+7-888-999-21-34" disabled>
    </div>
</form>
{% endblock %}