{% extends "base.html" %}
{% block title %} Новости {% endblock %}
{% block style %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/input_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/text_area_style.css')}}">
{% endblock %}
{% block content %} 
<form action="/" method="post">
    <input type="text" name="title" placeholder="Заголовок" maxlength="32" required>
    <textarea type="textarea" name="content" placeholder="Содержание" rows="4" maxlength="256" required></textarea>
    <input type="submit" value="Отправить">
</form>
{% endblock %}