{% extends "base.html" %}
{% block title %} Регистрация {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/input_style.css')}}">
{% endblock %}
{% block content %}
<form action="/register" method="post">
    <input type="text" name="login" placeholder="Логин" minlength="5" maxlength="32" required>
    <input type="text" name="name" placeholder="Имя пользователя" minlength="5" maxlength="32" required>
    <input type="password" name="pass" placeholder="Пароль" minlength="6" maxlength="32" required>
    <input type="password" name="pass_repeat" placeholder="Повторение пароля" minlength="6" maxlength="32" required>
    <input type="submit" value="Регистрация">
    <hr>
    <a href="/login">Войти</a>
</form>
{% endblock %}