{% extends "base.html" %}
{% block title %} Регистрация {% endblock %}
{% block style %} 
<style>
    form {
        width: 400px;
        margin: 20px auto;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: -webkit-fill-available;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="submit"]:focus {
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    input[type="submit"] {
        background-color: #337ab7;
        color: #fff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #2c65b0;
    }

    input::-webkit-input-placeholder {
        color: #999;
    }

    input:-ms-input-placeholder {
        color: #999;
    }

    input::-moz-placeholder {
        color: #999;
    }

    input::-moz-placeholder {
        color: #999;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    hr {
        margin: 5px 0;
        border: none;
        border-top: 1px solid #ddd;
    }
</style>
{% endblock %}
{% block content %}
<form action="/register" method="post">
    <input type="text" name="login" placeholder="Логин" minlength="5" maxlength="32" required>
    <input type="text" name="name" placeholder="Имя пользователя" minlength="5" maxlength="32" required>
    <input type="password" name="pass" placeholder="Пароль" minlength="6" maxlength="32" required>
    <input type="password" name="pass_repeat" placeholder="Повторение пароля" minlength="6" maxlength="32" required>
    <input type="submit" value="Регистрация">
    <hr>
    <a href="/login">Войти</a>
</form>
{% endblock %}